.contenedor-principal{
    display: flex; 
    flex-direction: row; 
    gap: 40px;
    align-items: flex-start;
}
.contenedor-input{
    flex-basis: 50%; 
    display: flex; 
    flex-direction: column;
}
.contenedor-super-alter{
    display: flex; 
    flex-direction: row; 
    gap: 20px;
}
.basis100{
    flex-basis: 100%;
}
.contenedor-imagen{
    flex-basis: 50%;
}
img{
    width: 100%;
    border-radius: 5px;
}
@media only screen and (max-width: 599px) {
    .contenedor-super-alter{
        flex-direction: column;
        gap: 0;
    }
    .contenedor-principal{
        flex-direction: column;
    }
  }
