<h1>{{((heroe.id) ? 'Editar' : 'Nuevo')}} Héroe <small>{{heroe.superhero}}</small> </h1>

<div class="contenedor-principal">
    <div class="contenedor-input">
        
        <div class="contenedor-super-alter">
            <mat-form-field class="basis100">
                <mat-label>Super Héroe</mat-label>
                <input 
                matInput
                type="text"
                [(ngModel)]="heroe.superhero"
                required>
            </mat-form-field>
            
            <mat-form-field class="basis100">
                <mat-label>Alter Ego</mat-label>
                <input 
                matInput
                type="text"
                [(ngModel)]="heroe.alter_ego"
                required>
            </mat-form-field>
        </div>
       
        <mat-form-field class="basis100">
            <mat-label>Primera aparición</mat-label>
            <input 
            matInput
            type="text"
            [(ngModel)]="heroe.first_appearance"
            required>
        </mat-form-field>

        <mat-form-field class="basis100">
            <mat-label>Personajes</mat-label>
            <input 
            matInput
            type="text"
            [(ngModel)]="heroe.characters"
            required>
        </mat-form-field>

        <mat-form-field class="basis100">
            <mat-label>Creador</mat-label>
            <mat-select [(ngModel)]="heroe.publisher">
                <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
                    {{ publisher.desc }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="basis100">
            <mat-label>Foto Url</mat-label>
            <input 
                matInput 
                type="url"
                [(ngModel)]="heroe.alt_img"
                required>
        </mat-form-field>        
        <br>

        <div style="display: flex; flex-direction: row; justify-content: space-between;"  >
            <button 
            mat-raised-button 
            color="primary"
            (click)="guardar()">
            <mat-icon>edit</mat-icon>
            {{((heroe.id) ? 'Actualizar' : 'Crear')}}
            </button>

            <button 
            *ngIf="heroe.id"
            mat-raised-button 
            color="warn"
            (click)="borrarHeroe()">
            <mat-icon>edit</mat-icon>
            Eliminar</button>
        </div>
            

    </div>
    <div class="contenedor-imagen">
        <img [src]="heroe | heroeImagen">
    </div>
</div>